.Product .card{
  box-shadow: 2px 2px 10px 1px black;
  max-width: 200px;
  text-align: left;
  background-color: #F6D33C;
  color: black;
  transition: all .5s ease-in-out;
}

.Product:hover .card{
  transform: scale(1.1);
}

a:hover{
  text-decoration: none;
}

.Product .info{
 margin: 20px 10px 0px;
}

.Product .card {
  height: 100%;

  
}
